.card:hover img {
<<<<<<< HEAD
    transform: scale(1.2 , 1.2);
=======
    transform: scale(1.2, 1.2);
>>>>>>> 5c7541c67ee7901fc38c5b87ad10e9d410e34c52
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}

<<<<<<< HEAD

.card img {
    transform: scale(1.0 , 1.0);
=======
.card img {
    transform: scale(1.0, 1.0);
>>>>>>> 5c7541c67ee7901fc38c5b87ad10e9d410e34c52
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
<<<<<<< HEAD

}

.card-img-wrapper:hover .member-icons{
=======
}

.card-img-wrapper:hover .member-icons {
>>>>>>> 5c7541c67ee7901fc38c5b87ad10e9d410e34c52
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}